body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: rgb(227, 238, 233);
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
  }

header {
    min-height: 450px;
    color: hwb(144 95% 3%);
    text-align: center;
  }

 #cabecera { background-image: url(ejercicio1.jpg) }
   
#cabecera {background-image: position: absolute;
    background: #333
      url("ejercicio1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
8    z-index: -1;
    opacity: 0.4;
  }

  #cabecera h1 {
    padding-top: 100px;
    padding-bottom: 0;
  }

  a {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
  }

 
  